<form class="product-form" [formGroup]="formRegister" (submit)="save()">
    <h3 class="form-title">Agregar Producto</h3>
    <div class="row">

        <div class="form-group col-md-4">
            <label for="name">Nombre</label>
            <input 
                type="text" 
                id="name" 
                class="form-control" 
                formControlName="name"
            >
            <span class="text-danger" *ngIf="fieldValidate('name')">
                {{ showMessageError('name') }}
            </span>
        </div>

        <div class="form-group col-md-4">
            <label for="price">Precio</label>
            <input 
                type="number" 
                id="price" 
                class="form-control" 
                formControlName="price"
            >
            <span class="text-danger" *ngIf="fieldValidate('price')">
                {{ showMessageError('price') }}
            </span>
        </div>
        <div class="form-group col-md-4">
            <div class="mb-3">
                <label for="Photo" class="form-label">Subir Foto</label>
                <input #filePicker (change)="onImagePicked($event)" formControlName="photo" type="file" class="form-control" id="Photo">

                <span class="text-danger" *ngIf="fieldValidate('photo')">
                    {{ showMessageError('photo') }}
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label for="category">Categoría</label>
            <products-select-filter formControlName="category" [formControl]="categoryFormControl"></products-select-filter>
            <span class="text-danger" *ngIf="fieldValidate('category')">
                {{ showMessageError('category') }}
            </span>
        </div>

        <div class="form-group col-md-4">
            <label for="brand">Marca</label>
            <input 
                type="text" 
                id="brand" 
                class="form-control" 
                formControlName="brand"
            >
            <span class="text-danger" *ngIf="fieldValidate('brand')">
                {{ showMessageError('brand') }}
            </span>
        </div>

        <div class="form-group col-md-4">
            <label for="brand">Cantidad</label>
            <input 
                type="number" 
                id="quantity" 
                class="form-control" 
                formControlName="quantity"
            >
            <span class="text-danger" *ngIf="fieldValidate('quantity')">
                {{ showMessageError('quantity') }}
            </span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="description">Descripción</label>
            <textarea 
                id="description" 
                class="form-control" 
                rows="4"
                formControlName="description"
            >
            </textarea>
            <span class="text-danger" *ngIf="fieldValidate('description')">
                {{ showMessageError('description') }}
            </span>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-submit">Guardar</button>
    </div>
</form>
