form {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0a1c1;
}

h3 {
  text-align: center;
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding: 12px 15px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  transition: border-color 0.3s ease;
}


.password-toggle-btn {
  position: absolute;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.password-toggle-btn i {
  font-size: 18px;
  color: #ff7c7c;
}

input[type="text"], input[type="email"], input[type="password"], select, textarea {
  width: 100%;
  padding: 12px 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  color: #333;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
  border-color: #ff7c7c;
  outline: none;
}

.form-group {
  margin-bottom: 15px;
}

.buttonSave {
  background-color: #ff7c7c; 
  font-size: 15px;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.form-group.col-md-6 {
  flex: 1 1 48%;
  margin-right: 4%;
}

.form-group.col-md-6:last-child {
  margin-right: 0;
}

@media (max-width: 576px) {
  .form-group.col-md-6 {
    flex: 1 1 100%;
    margin-right: 0;
  }

  .container {
    width: 100%;
    padding: 15px;
  }
}
