<div class="purchase-list">
    <!-- Compra 1 -->
    <div class="purchase-item">
        <div class="purchase-header">
            <h2>Compra {{soldProduct.id}}</h2>
            <span>{{soldProduct.created_at | date}}</span>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detail of soldProduct.products">
                    <td>{{detail.products?.name}}</td>
                    <td>{{detail.products?.description}}</td>
                    <td>{{detail.products?.quantity}}</td>
                    <td>{{detail.products?.price}}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <span>Total: <strong>{{soldProduct.total_value}}</strong></span>
        </div>
    </div>
</div>