<div class="purchase-list">
    <!-- Compra 1 -->
    <div class="purchase-item">
        <div class="purchase-header">
            <h2>Compra {{soldProduct.id}}</h2>
            <span>{{soldProduct.created_at | date}}</span>
        </div>
        <ul class="product-list">
            <li class="product-item" *ngFor="let product of soldProduct.products">
                <span>{{product.id_product}}</span>
                <span class="price">$15.50</span>
            </li>
        </ul>
        <div class="purchase-footer">
            <span>Total: <strong>$45.49</strong></span>
        </div>
    </div>
</div>

