<div class="cont">
    <!-- Barra lateral -->
    <div class="sidebar">
        <div class="headerUser mt-3">
            <h3>{{userLogueado.name}}</h3>
            <img [src]="fullImageUrl" class="imageUser" alt="ejemplo">
        </div>
        <a routerLink="user/profile">Perfil</a>
        <a routerLink="product/register">Agregar producto</a>
        <a routerLink="product/catalog">Catalogo</a>
        <a routerLink="product/cart" >Carrito</a>
        <a routerLink="product/sales">Mis compras</a>
        <a (click)="logout($event)">Cerrar sesión</a>
    </div>

    <!-- Contenido principal -->
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>
