<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <!--Cabecero-->
    <h2 class="accordion-header">
      <img 
        aria-controls="collapseOne" 
        src="/descarga.jpeg" 
        alt="ejemplo" 
        width="100%"
      >

      <div class="d-flex justify-content-center align-items-center">
        <h4 class="mx-2 mt-1">Producto</h4>
        <i class="fa-regular fa-eye fs-5 text-center" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#collapseOne" 
          aria-expanded="true">
        </i>
      </div>
    </h2>

    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <!--cuerpo de card-->
        <p class="card-text">
          <strong>Precio: </strong> $19.99
        </p>
        <p class="card-text">
          <strong>Descripción: </strong> Texto de relleno
        </p>

        <!-- Contenedor para los botones de incrementar y decrementar -->
        <div class="d-flex justify-content-center align-items-center">
          <button class="btn btn-secondary mx-2">-</button>
          <p class="mx-2">1</p>
          <button class="btn btn-secondary mx-2">+</button>
        </div>
      </div>
      </div>
  </div>
</div>
