<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <!--Cabecero-->
    <h2 class="accordion-header">
      <img 
        aria-controls="collapseOne" 
        src="/descarga.jpg" 
        alt="ejemplo" 
        width="100%"
      >

      <div class="d-flex justify-content-center align-items-center">
        <h4 class="mx-2 mt-1">{{product.name}}</h4>
        <i class="fa-regular fa-eye fs-5 text-center" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#collapseOne" 
          aria-expanded="true">
        </i>
      </div>
    </h2>

    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <!--cuerpo de card-->
        <p class="card-text">
          <strong>Precio: </strong> {{product.price}}
        </p>
        <p class="card-text">
          <strong>Category: </strong> {{product.category.name}}
        </p>
      </div>
      </div>
  </div>
</div>
