<div class="row mb-2">
    <div class="col-md-4">
        <select id="categoria" name="categoria" class="form-select">
            <option value="">Selecciona una categoría</option>
            <option value="electronica">Electrónica</option>
            <option value="ropa">Ropa</option>
            <option value="hogar">Hogar</option>
            <option value="deportes">Deportes</option>
        </select>
    </div>

    <div class="col-md-4">
        <select id="marca" name="marca" class="form-select">
            <option value="">Selecciona una marca</option>
            <option value="apple">Apple</option>
            <option value="samsung">Samsung</option>
            <option value="nike">Nike</option>
            <option value="sony">Sony</option>
        </select>
    </div>

    <div class="col-md-4">
        <select id="precio" name="precio" class="form-select">
            <option value="">Selecciona un rango de precio</option>
            <option value="0-50">Menos de $50</option>
            <option value="50-100">$50 - $100</option>
            <option value="100-200">$100 - $200</option>
            <option value="200-500">$200 - $500</option>
            <option value="500+">Más de $500</option>
        </select>
    </div>
</div>