<div class="cart-item border-bottom border-dark">
    <img [src]="fullImageUrl" [alt]="product.name" class="item-image">
    
    <div class="item-details">
        <div class="item-name">{{product.name}}</div>
        <div class="item-description">{{product.description}}</div>
        <div class="item-brand">Marca: {{product.brand}}</div>
        <div class="item-price">{{product.price * product.quantity | number}}</div>
        <div class="item-quantity">{{product.quantity}}</div>
    </div>
</div>
