.search-container {
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.search-container h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 10px;
    background-color: #f9f9f9;
}

.search-bar input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
    background-color: transparent;
    color: #333;
}

.search-bar button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #45a049;
}

.search-bar input::placeholder {
    color: #aaa;
}

.card{
    width: 70%;
}