.cart-item {
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #f4b6b6;
padding: 15px 0;
}

.cart-item:last-child {
border-bottom: none;
}

.item-image {
width: 15%;
height: 15%;
object-fit: cover;
border-radius: 10px;
}

.item-details {
flex-grow: 1;
margin-left: 20px;
}

.item-name {
font-size: 1.2rem;
color: #ff4d4d;
font-weight: bold;
}

.item-description {
font-size: 0.9rem;
color: #666;
margin: 5px 0;
}

.item-brand {
font-size: 0.9rem;
color: #777;
margin: 5px 0;
}

.item-price {
font-size: 1.2rem;
color: #ff4d4d;
font-weight: bold;
}

.quantity-controls {
display: flex;
align-items: center;
justify-content: space-between;
width: 120px;
}

.quantity-button {
background-color: #ffb6b6;
border: 1px solid #ff7c7c;
color: #fff;
padding: 5px 10px;
border-radius: 5px;
cursor: pointer;
}

.quantity-button:disabled {
background-color: #ccc;
cursor: not-allowed;
}

.quantity {
font-size: 1.2rem;
color: #333;
padding: 0 10px;
}


