<div class="cart-item border-bottom border-dark">
    <img [src]="fullImageUrl" [alt]="product.name" class="item-image">
    
    <div class="item-details">
        <div class="item-name">{{product.name}}</div>
        <div class="item-description">{{product.description}}</div>
        <div class="item-brand">Marca: {{product.brand}}</div>
        <div class="item-price">{{product.price}}</div>
    </div>
    
    <div class="quantity-controls">
        <button class="quantity-button">-</button>
        <span class="quantity">{{product.stock[0].quantity}}</span>
        <button class="quantity-button">+</button>
    </div>
</div>
