.cart-item {
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #f4b6b6;
padding: 15px 0;
}

.cart-item:last-child {
border-bottom: none;
}

.item-image {
width: 15%;
height: 15%;
object-fit: cover;
border-radius: 10px;
}

.item-details {
flex-grow: 1;
margin-left: 20px;
}

.item-name {
font-size: 1.2rem;
color: #ff4d4d;
font-weight: bold;
}

.item-description {
font-size: 0.9rem;
color: #666;
margin: 5px 0;
}

.item-brand {
font-size: 0.9rem;
color: #777;
margin: 5px 0;
}

.item-price {
font-size: 1.2rem;
color: #ff4d4d;
font-weight: bold;
}

.quantity {
font-size: 1.2rem;
color: #333;
padding: 0 10px;
}


