<div class="accordion" id="accordionExample" style="width: 20%;">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <img class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" src="/descarga.jpeg" alt="ejemplo">
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <app-carrousel-item></app-carrousel-item>
        </div>
      </div>
    </div>
</div>