button{
    background-color: #ee5992;
    border: none;
    width: 25%;
    border-radius: 20px;
}

button:hover{
    background-color: #444;
    color: white;
}

input{
    outline: none;
    box-shadow: none; 
}

input:focus{
    outline: none;
    box-shadow: none; 
}